.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('https://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

button {
	width: 100%;
	border-width: 0;
	border-radius: 3px;
    padding: 5px;
}

#popupTable {
	width: 200px;
	table-layout: fixed;	
}

#optionsContainer {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

#optionsForm {
	display: inline-block;
	padding: 50px;
    border-radius: 10px;
    background-color: #fbfbfb;
}

#optionsForm input {
	margin-bottom: 5px
}

#optionsForm #ytDlpPathInput {
	width: 400px
}

#downloadFolderInput {
	width: 500px;
}

.settingBtn {
	background-color: #e1e1e1;
}

.actionBtn {
    background-color: #ffaca5;
}

.secondaryActionBtn {
	background-color: #e1e1e1;
}